/* write down the css for Carousel in this file */
*{
    margin: 0;
    text-align: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    color: white;
    background-color: rgb(0, 0, 0);
    height: 50px;
    border: none;
    height: 700px;
    
}

img{
    height: 700px;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}